@import "base/variables";

@import "libs/bootstrap-reboot.min";

@import "blocks/stopwatch";
@import "blocks/titles";
@import "blocks/footer";



.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

* {
  color: $dark-color;
}

body {
  background-color: #ddeefc;
  position: relative;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
