.stopwatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  width: 600px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 40%);
  border-radius: 10px;

  &__form {
    margin-top: 20px;

  }

  &__input {
    width: 350px;
    height: 100px;
    font-size: 65px;
    line-height: 100px;
    text-align: center;
    vertical-align: center;
    border-radius: 10px;
    border: 1px solid #ced6e0;
    outline: none;
    color: $dark-color;
    //background-color: #6c757d;
  }

  &__button__wrapper {
    margin-top: 20px;
    width: 280px;
    display: flex;
    justify-content: space-between;
  }

  &__button-clear, &__button-start {
    border: none;
    border-radius: 5px;
    margin: 5px;
    min-width: 100px;
    min-height: 40px;
    text-transform: uppercase;
    color: white;
    transition: 0.2s ease all;
    box-shadow: 0 4px 30px -6px rgba(36, 52, 70, 65%);

    &:hover {
      transform: translateY(-3px);
    }

    &:focus {

      outline: none;
    }
  }

  &__button-clear {
    background-color: #ffc107;
    color: #343a40;
  }

  &__button-start {
    background-color: #28a745;
  }
}
